<h1>Create new Contact</h1>

<!-- POST /contacts  -->
<form class="new_contact" action="/contacts" method="post">

  <div>
    <label for="contact_first_name">First name: </label>
    <input id="contact_first_name" type="text" name="first_name" placeholder="First name">
  </div>

  <div>
    <label for="contact_last_name">Last name: </label>
    <input id="contact_last_name" type="text" name="last_name" placeholder="Last name">
  </div>

  <div>
    <label for="contact_email">Email: </label>
    <input id="contact_email" type="email" name="email" placeholder="Email address">
  </div>

  <div>
    <label for="contact_note">Note: </label>
    <textarea id="contact_note" name="note" placeholder="Put some notes here" rows="4"></textarea>
  </div>

  <div>
    <button type="submit">
      <span>New Contact</span>
    </button>
  </div>

</form>
